.swiper-pagination-bullet-active {
  background: $gray-dark;
}

.swiper-pagination {
  position: static;
  height: 15px;
  margin-top: 15px;
  --swiper-pagination-bullet-size: 12px;
}

.repairable-brands__swiper {
  width: 320px;
  //height: 70px;
}

// .swiper-wrapper {
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

// .swiper__slide {
//   width: 240px;
//   height: 70px;
// }
