.site__footer {
  box-sizing: border-box;
  padding: 15px;
  min-height: 130px;
  border-top: 1px solid $color-divider;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @media (min-width: $tablet-size) {
    padding-top: 35px;
    max-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  @media (min-width: $desktop-size) {
    max-height: 65px;
  }
}

.footer-text {
  font-family: 'TT Lakes Medium';
  color: $gray-dark;
}

.footer-wrapper {
  text-align: center;
}

.footer-wrapper--left {
  @media (min-width: $tablet-size) {
    text-align: left;
  }
}

.footer-wrapper--right {
  @media (min-width: $tablet-size) {
    text-align: right;
  }
}
