.gradient {
  width: 24px;
  height: 40px;
  position: absolute;
  z-index: 5;
}

.gradient--left {
  background-image: linear-gradient(
    to left,
    rgba(248, 248, 248, 0),
    rgba(248, 248, 248, 1)
  );
  left: 0;
}

.gradient--right {
  background-image: linear-gradient(
    to right,
    rgba(248, 248, 248, 0),
    rgba(248, 248, 248, 1)
  );
  right: 0;
}

.gradient--brands {
  height: 80px;
}

.gradient--equipment {
  height: 170px;
}

.gradient--price {
  height: 210px;
}
