.post {
  @media (min-width: $tablet-size) {
    padding: 15px;
  }
}

.post__content {
  @media (min-width: $tablet-size) {
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
    gap: 10px;
  }

  @media (min-width: $desktop-size) {
    gap: 20px;
  }
}

.post__article {
  transition-duration: 0.5s;
  margin-bottom: 10px;
  padding: 15px;
  max-height: 90px;
  overflow: hidden;

  @media (min-width: $tablet-size) {
    max-height: 160px;
    padding: 0;
  }
}

.post__article--read-all {
  max-height: 500px;
  transition: max-height 0.5s linear;
}

.article__button {
  margin-bottom: 10px;
  padding-left: 0;
  width: 150px;
  display: flex;
  gap: 5px;
  align-items: center;
}
