.repairable-brands {
  @media (min-width: $tablet-size) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-card {
  display: block;
  box-sizing: border-box;
  height: 70px;
  width: 240px;
  border: 1px solid $gray-light;
  background-color: $color-main;
  border-radius: 6px;
  position: relative;

  &::after {
    content: '';
    width: 40px;
    height: 40px;
    background: url(../img/icon_go.svg) no-repeat;
    position: absolute;
    right: 15px;
    top: 14px;
  }

  @media (min-width: $tablet-size) {
    width: 224px;
  }

  @media (min-width: $desktop-size) {
    width: 240px;
  }
}

.brand {
  padding-left: 15px;
  position: absolute;
}

.brand--lenovo {
  top: 25%;
}

.brand--sumsung {
  top: 20%;
}

.brand--apple {
  top: 15%;
}

.brand--view-sonic {
  top: 30%;
}

.brand--bosch {
  top: 30%;
}

.brand--hp {
  top: 12%;
}

.brand--acer {
  top: 32%;
}

.brand--sony {
  top: 30%;
}
