.sidemenu-nav__item {
  display: block;
  padding-left: 0;
}

.sidemenu-nav__item--curent {
  position: relative;

  .sidemenu-nav__link {
    color: $gray-dark;
  }

  &::before {
    content: '';
    border: 4px solid $color-pointer;
    border-radius: 4px;
    height: 30px;
    position: absolute;
    left: -18px;
    top: 5px;
  }
}
