.site {
  border: 1px solid $color-divider;
  opacity: 1;
  @media (min-width: $desktop-size) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 320px calc(100vw - 320px);
    //align-items: stretch;
  }
}

.site--low-opacity {
  opacity: 0.1;
}
