body {
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}

p {
  padding: 0 5px 15px 15px;
  margin: 0;
}

a:focus {
  border-color: #b8ffec;
  background-color: #ffffff;
}

.body {
  width: calc(100vw - 20px);
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
  position: relative;
}

.logo::after {
  content: '';
  border-right: 2px solid #eaeaea;
  height: 32px;
  border-radius: 1px;
  position: absolute;
  transform: translate(15px, 10px);
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  justify-content: center;
  background-repeat: no-repeat;
}

.button-menu__ikon {
  background-image: url('../img/icon_burger.svg');
  position: relative;
}

.button-menu__ikon-open {
  background-image: url('../img/icon_burger_open.svg');
  transform: translateY(8px);
}

.button-search__icon {
  background-image: url('../img/icon_search.svg');
  transform: translateY(8px);
  margin-right: 0;
}

.button__icon-call {
  background-image: url('../img/icon_call.svg');
}

.button__icon-chat {
  background-image: url('../img/icon_chat.svg');
}

.button__icon-profile {
  background-image: url('../img/icon_profile.svg');
}

.button__icon-repair {
  background-image: url('../img/icon_repair.svg');
}

.button__icon-check-status {
  background-image: url('../img/icon_checkstatus.svg');
}

.header-right > .button__icon-repair {
  margin-left: 15px;
}

.header-right > .button__icon-check-status {
  margin-right: 0;
}

.text {
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-size: 14px;
}

.title {
  margin: 25px 0;
  font-size: 28px;
  padding-left: 15px;
  position: relative;
}

.brands-title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 15px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.title::before {
  content: '';
  border-right: 8px solid #41f6d7;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  left: -4px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 30px;
}

.nav .nav-xs,
.nav .nav-sm {
  flex-wrap: nowrap;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav .nav-xs::-webkit-scrollbar,
.nav .nav-sm::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

.nav__link {
  align-content: center;
  color: #7e7e82;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
  padding: 5px 16px;
  margin-right: 5px;
  flex-shrink: 0;
}

.article {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
}

.post__article {
  height: 90px;
  overflow: hidden;
}

.post__read-more {
  margin: 15px;
}

.read-more__link {
  color: #1b1c21;
  font-weight: 500;
  padding: 5px;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.image {
  background-size: 100%;
}

.menu {
  width: calc(100vw - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: stretch;
  position: absolute;
}

.menu-top {
  padding: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu-top > .logo {
  position: absolute;
  left: 70px;
}

.menu-top > .logo::after {
  border-right: none;
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu__link {
  color: #1b1c21;
  padding: 15px;
  font-weight: 500;
  display: block;
}

.menu__link:nth-child(2) {
  color: #7e7e82;
  position: relative;
}

.menu__link:nth-child(2)::before {
  content: '';
  border-left: 8px solid #41f6d7;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  left: -4px;
  top: 5px;
}

.support {
  margin-top: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.support-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.email_link {
  display: block;
  color: #1b1c21;
  padding: 15px;
  padding-left: 0;
  font-weight: 500;
}

.phone {
  font-size: 24px;
  font-weight: bold;
  padding-left: 0;
}

.lang-switch {
  display: flex;
}

.lang {
  font-weight: 600;
  color: #1b1c21;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}

.current {
  color: #7e7e82;
}

.menu {
  transform: scale(0);
}

.all-content {
  width: calc(100vw - 20px);

  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  z-index: 5;
}

.body:has(.header-left > .button-menu__ikon:focus) > .menu {
  transform: scale(1);
  z-index: 10;
}

.swiper-slide::after {
  content: '';
  width: 40px;
  height: 40px;
  background: url(../img/icon_go.svg) no-repeat;
  position: absolute;
  right: 15px;
  top: 14px;
}

.brand {
  padding-left: 15px;
}

.brand__lenovo {
  position: absolute;
  top: 25%;
}

.brand__sumsung {
  position: absolute;
  top: 20%;
}

.brand__apple {
  position: absolute;
  top: 15%;
}

.brand__view-sonic {
  position: absolute;
  top: 30%;
}

.brand__bosch {
  position: absolute;
  top: 30%;
}

.brand__hp {
  position: absolute;
  top: 12%;
}

.brand__acer {
  position: absolute;
  top: 32%;
}

.brand__sony {
  position: absolute;
  top: 30%;
}

.hidden {
  display: none;
}

.expand--open {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.expand {
  transition-duration: 0.3s;
}

@media (min-width: 320px) {
  .gradient {
    width: 24px;
    height: 40px;
    position: fixed;
    z-index: 2;
  }

  .gradient-left {
    background-image: linear-gradient(
      to left,
      rgba(248, 248, 248, 0),
      rgba(248, 248, 248, 1)
    );
    left: 0;
  }

  .gradient-right {
    background-image: linear-gradient(
      to right,
      rgba(248, 248, 248, 0),
      rgba(248, 248, 248, 1)
    );
    position: fixed;
    right: 0;
  }

  .gradient-brands {
    height: 80px;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 360px;
    box-shadow: 0 0 55px 0 #7e7e82;
  }

  .menu-top {
    padding: 20px;
    padding-top: 20px;
  }
  .body:has(.header-left > .button-menu__ikon:focus) > .all-content {
    opacity: 0.1;
  }

  .all-content {
    margin-bottom: 30px;
  }

  .header {
    padding: 20px;
  }

  .button {
    margin-right: 20px;
  }

  .logo {
    padding-left: 20px;
  }

  .menu-top > .logo {
    left: 80px;
  }

  .logo::after {
    content: '';
    border-right: none;
  }

  .logo::before {
    content: '';
    border-left: 2px solid #eaeaea;
    height: 32px;
    border-radius: 1px;
    position: absolute;
    left: 0;
    top: 10px;
  }

  .header-buttons-sm {
    display: flex;
    position: absolute;
    right: 140px;
    align-items: center;
  }

  .header-buttons-sm::after {
    content: '';
    border-right: 2px solid #eaeaea;
    height: 32px;
    border-radius: 1px;
    position: absolute;
    right: 0;
  }

  .button__icon-check-status {
    margin-right: 0;
  }

  .nav-sm {
    display: block;
  }

  .article {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .post {
    height: 200px;
    flex-basis: 50%;
  }

  .post .post__article {
    height: 160px;
    margin-right: 20px;
  }

  .image {
    min-width: 360px;
    background-size: contain;
    margin-right: 15px;
    flex-basis: 50%;
  }

  .brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .brands-title {
    align-self: stretch;
  }

  .container {
    width: auto;
    height: auto;
  }

  .button-show-all {
    align-self: center;
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    padding: 15px 20px;
    margin-right: 570px;
  }
}

@media (min-width: 1440px) {
  .body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .menu {
    transform: scale(1);
    width: 320px;
    position: static;
    box-shadow: none;
  }

  .button-menu__ikon-open,
  .header {
    display: none;
  }

  .menu-top {
    margin-bottom: 60px;
  }

  .menu-top > .logo::before {
    display: none;
  }

  .menu-top > .logo {
    left: 0;
  }

  .button-search__icon {
    position: absolute;
    right: 0;
  }

  .menu__link:nth-child(2)::before {
    border-left: 4px solid #41f6d7;
    border-radius: 2px;
    left: 0px;
    top: 2px;
  }

  .support {
    margin-top: 240px;
  }

  .all-content {
    margin-bottom: 50px;
    width: calc(100vw - 340px);
  }

  .content {
    padding-left: 25px;
  }

  .content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-top > .service-buttons,
  .button-with-text {
    display: flex;
    align-items: center;
  }

  span {
    margin-right: 10px;
  }

  .title::before {
    border-right: 3px solid #41f6d7;
    border-radius: 1.5px;
    left: -25px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-xs + .nav-xs {
    display: none;
  }

  .nav-md {
    display: block;
    margin-bottom: 10px;
  }

  .break {
    display: block;
    flex-basis: 100%;
  }

  .post {
    margin-right: 25px;
  }

  .post__article {
    min-height: 160px;
  }

  .button-show-all {
    margin-right: 830px;
    margin-top: 15px;
  }
}
