
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 70px;

}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

}

.swiper-slide {
    width: 240px;
    height: 70px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.swiper-pagination-bullet-active {
    background: #979797;
}

.swiper-pagination {
    position: static;
    margin-top: 15px;
    --swiper-pagination-bullet-size: 12px;
}

@media (min-width: 768px) {

    .swiper-pagination {
        display: none;
    }
      
    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-wrapper {
        padding-top: 10px;
        height: 160px;
        display: grid;
        grid-template-columns: repeat(3, 224px);
        row-gap: 15px;
        column-gap: 20px;
        justify-content: center;
        overflow: hidden;
        
    }

    .swiper-slide {
        width: 100%;
    }



}

@media (min-width: 1440px) {

    .swiper-wrapper {
        height: 160px;
        display: grid;
        grid-template-columns: repeat(4, 240px);
        row-gap: 15px;
        column-gap: 30px;
        padding-left: 15px;
        justify-content: center;
        overflow: hidden;
    }
}

.swiper-wrapper--open {
    height: auto;
    transition-duration: 0.3s;
}