.repairable-brands__swiper {
  min-width: 320px;
  position: relative;

  @media (min-width: $tablet-size) {
    width: 100%;
    height: auto;
  }
}

.swiper-pagination-bullet-active {
  background: $gray-dark;
}

.swiper-pagination {
  position: static;
  margin-top: 15px;
  --swiper-pagination-bullet-size: 12px;

  @media (min-width: $tablet-size) {
    display: none;
  }
}

.swiper-wrapper {
  padding-left: 15px;
}

.swiper-wrapper--open {
  max-height: auto;
  transition: max-height 0.5s linear;
}
