//colors
$gray-lighten: #f8f8f8;
$gray-light: #eaeaea;
$gray: #b5b6bc;
$gray-dark: #7e7e82;
$gray-darken: #1b1c21;

$color-main: #ffffff;
$color-divider: #d9fff5;
$color-focus: #b8ffec;
$color-pointer: #41f6d7;

//font-size
$font-size--small: 14px;
$font-size--medium: 16px;
$font-size--large: 24px;
$font-size--title: 28px;

//view-size
$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1360px;
